/* Style for the project container */
.project {
  /* Replace with your background image */
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Style for the card container */
.project_container {
  background: rgba(255, 255, 255, 0.2); /* Transparent white background */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Style for individual project cards */
.project_card_container {
  display: flex;
  justify-content: space-around; /* Evenly space the cards horizontally */
}

/* Style for each card content */
.project_card {
  flex: 0 0 calc(33.33% - 20px); /* Adjust the card width as needed */
  padding: 20px;
  background: rgba(
    255,
    255,
    255,
    0.5
  ); /* Transparent white background for cards */
  border-radius: 10px;
  margin: 10px; /* Adjust the margin to control spacing between cards */
  text-align: center;
}

/* Style for card headings */
.project_card h4 {
  font-size: 18px;
  margin: 0;
}

/* Style for card descriptions */
.project_card h3 {
  font-size: 14px;
  margin-top: 10px;
}

/* Style for card buttons */
.project_card button {
  margin-top: 20px;
  background: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s ease;
}

.project_card button:hover {
  background: #c3c5c7; /* Hover background color */
}
